:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}
/* nav bar css */
nav {
  background-color: #000000;
  display: flex;
  justify-content: center;
  padding: 1em 0;
  position: relative;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 1em;
}

.nav-toggle {
  display: none;
  position: absolute;
  right: 1em;
  top: 1em;
  cursor: pointer;
}

@media (max-width: 600px) {
  nav ul {
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #444;
    width: 100%;
    height: 100%;
    display: none;
  }

  nav li {
    width: 100%;
    text-align: center;
  }

  .nav-toggle {
    display: block;
  }
}

.active {
  display: flex;
}

.nav-toggle:before {
  content: "\f0c9";
  font-family: "FontAwesome";
  font-size: 24px;
}

.nav-toggle.active:before {
  content: "\f00d";
}
/* body section below */
.container {
}

section {
  padding: 2em 0;
}

div {
  background-color: var(--color-background);
  color: var(--color-font);
}

h1 {
  color: var(--light);
  font-family: "Bebas Neue", sans-serif;
}
h2 {
  color: var(--light);
  font-family: "Bebas Neue", sans-serif;
  font-weight: lighter;
}

h3 {
  color: var(--light);
  font-family: "Bebas Neue", sans-serif;
}

p {
  color: var(--light);
  font-family: "Bebas Neue", sans-serif;
}
body {
  background-color: black;
}

#profile-pic {
  width: 304px;
  height: 304px;
  border-radius: 50%;
  max-width: fit-content;
  max-height: fit-content;
}

#welcome-intro {
  font-family: "Bebas Neue", sans-serif;
  color: var(--color-font);
  text-align: left;
}

#welcome-name {
  font-family: "Bebas Neue", sans-serif;
  color: var(--color-font);
  text-align: left;
}

#welcome-desc {
  font-family: "Bebas Neue", sans-serif;
  color: var(--color-font);
  text-align: left;
  color: rgb(248, 249, 250, 0.5);
}
.img-rounded {
  border-radius: 50%;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.btn-purple {
  background-color: var(--color-primary);
  color: var(--color-font);
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;
  cursor: pointer;
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-purple:hover {
  background-color: var(--color-primary-hover);
  color: var(--color-font-hover);
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

i {
  color: #ffffff;
  height: 50px;
  width: 50px;
  font-size: larger;
  text-align: center;
  list-style: none;
  display: inline-block;
}
.title {
  color: grey;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.card {
  background-color: #2b2b2b;
  box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  padding: 20px;
  color: #fff;
  padding: auto;
  width: 70%;
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  list-style: none;
  height: 100%;
  max-width: 300px;
  margin: auto;
  text-align: center;
}

#contact-card {
  max-width: 400px;
  box-shadow: 0 4px 8px 0 rgb(16, 6, 159, 0.2);
}

#contact-photo {
  max-width: 300px;
  max-height: 300px;
  border-radius: 20%;
  padding: 20px;
}

.card-title {
  font-family: "Bebas Neue", sans-serif;
  color: var(--color-font);
  padding: 10px;
  font-weight: bolder;
}

.card-text {
  padding: 10px;
}

#header-card {
  background-color: #2b2b2b;
  box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  padding: 20px;
  color: #fff;
  padding: auto;
  width: 100%;
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  list-style: none;
}

.home,
.about,
.skills,
.contact {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home {
  background-image: url(your-image-url.jpg);
  background-size: cover;
  background-position: center;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.carousel-item {
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: fill;
  -moz-background-size: fill;
  -o-background-size: fill;
  background-size: fill;
}

.justify-right {
  text-align: right;
}

.contact-button {
  all: unset;
  font-family: Helvetica, Arial, sans-serif;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #0445af;
  color: #fff;
  font-size: 20px;
  border-radius: 25px;
  padding: 0 33px;
  font-weight: bold;
  height: 50px;
  cursor: pointer;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  margin: auto;
  display: flex;
  justify-content: center;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #10069f;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.containert {
  padding: 10px 40px;
  position: relative;
  background-color: ;
  width: 50%;
}

/* The circles on the timeline */
.containert::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -12px;
  background-color: rgb(0, 0, 0);
  border: 4px solid #ff9f55;
  top: 1px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 5px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 5px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -12px;
}

.white-link {
  color: white;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: rgb(0, 0, 0);
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .containert {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .containerT::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

.bgimg {
  /* Background image */
  background-image: url("https://www.w3schools.com/w3images/forestbridge.jpg");
  /* Full-screen */
  height: 500px;

  /* Center the background image */
  background-position: center;
  /* Scale and zoom in the image */
  background-size: cover;
  /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
  position: relative;
  /* Add a white text color to all elements inside the .bgimg container */
  color: white;
  /* Add a font */
  font-family: "Courier New", Courier, monospace;
  /* Set the font-size to 25 pixels */
  font-size: 25px;
}

/* Position text in the top-left corner */
.topleft {
  position: absolute;
  top: 0;
  left: 16px;
}

/* Position text in the bottom-left corner */
.bottomleft {
  position: absolute;
  bottom: 0;
  left: 16px;
}

.skill-img {
  height: 60px;
  width: auto;
}

/* Position text in the middle */
.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the <hr> element */
hr {
  margin: auto;
  width: 40%;
}
/* Style all font awesome icons */
